body {
    background-size: cover;
    font-family: sans-serif;
    
}
/* Hamburguer black background section */

.burguer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 800px;
    place-items: center;
    border: solid black 5px;
    background-color: black;
}



.burguer_image {
    max-width: 100%;
    position: relative;
    
}


.burguer_title {
    
    color: whitesmoke;
    font-style: italic;
    font-size: 50px;
    margin-top: 100px;
}

.burguer_text {
    
    font-size: 32px;
    color: whitesmoke;
    margin-bottom: 50px;
}

/* Stats section */ 

.stats {
  display: flex;
  
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
  margin: 50px;
  

}
.stats div strong {
  font-size: 3rem;
  
}

.pizza_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    place-items: center;
    border: solid gray 2px;
}

/* About Us section */ 
.pizza_title {
    font-family: sans-serif;
    font-weight: bold;
    
    
}
    
    
    

.read_more_button {
    background-color: #ffc107;
    font-family: sans-serif;
    color: white;
}
